.body{
  color: #40514e;
  margin: 0px;
  text-align: center;
  font-family: 'Merriweather', serif;
}

hr{
  border: dotted #1eae98 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a{
  color: #11999e;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #eaf6f6;
}

.copyright{
  color: #eaf6f6;
  font-size: 0.75em;
}

.middle-container{
  margin: 100px 0px;

}



.container {
  position: relative;
  text-align: center;
}

.background-img{
  width: 100%;
  height: 600px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

h1{
  line-height: 2;
  color: #66bfbf;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
}



.propic{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;

}

.web{
  padding-bottom: 20px;
}

p{
  line-height: 2;
}


.code{
  padding-top: 20px;
}


.skill-pic-web{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  float: left;
  margin-right: 30px;
}

.skill-pic-code{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  float: right;
  margin-left: 30px;
}

.pro{
  text-decoration: underline;
}

.int{
  color: #a6d6d6;
  font-family: 'Pattaya', sans-serif;
  font-size: 2.5rem;
}



.rest{
  color: #66bfbf;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
}



h3{
  color: #11999e;
  font-family: 'Montserrat', sans-serif;
}

.intro{
  width: 30%;
  margin: auto;
}

.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.bottom-container{
  background-color: #66bfbf;
  padding: 50px 0 20px;
}
